/JADE/build/
/bin/
/Actores/nbproject/private/
/Actores/build/
JADE/configuraciones/mail.cfg
*.cfg
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/mandar/nbproject/private/
/mandar/build/